@model GYM.Models.Member

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Member</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gender" class="control-label"></label>
                <select class="form-select" name="gender" required>
                    <option selected disabled>Choose your gender...</option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone" class="control-label"></label>
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="age" class="control-label"></label>
                <input asp-for="age" class="form-control" />
                <span asp-validation-for="age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="weight" class="control-label"></label>
                <input asp-for="weight" class="form-control" />
                <span asp-validation-for="weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="height" class="control-label"></label>
                <input asp-for="height" class="form-control" />
                <span asp-validation-for="height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="package" class="control-label"></label>
                <select class="form-select" name="package" required>
                    <option selected disabled>Choose...</option>
                    <option>Basic</option>
                    <option>Premium</option>
                    <option>Gold</option>
                </select>
            </div>
            
            <input type="hidden" name="Class" value="Not Assigned Yet" />
            <input type="hidden" name="Schedule" value="Not Assigned Yet" />
            <input type="hidden" name="Tid" value="Cash" />
            <input type="hidden" name="paymentMethod" value="Cash" />
            <input type="hidden" name="CreditCardNumber" value="Paid with Cash" />
            <input type="hidden" name="Expire" value="1" />

            <input type="hidden" name="amount" value=1000 />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
